name: Windows RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Enable RDP
      run: |
        net user runneradmin P@ssw0rd123 /add
        net localgroup administrators runneradmin /add
        reg add "HKLM\SYSTEM\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Download & Start ngrok
      run: |
        choco install ngrok -y
        ngrok config add-authtoken 36VQZbtfsKyPixZyIThCTVK8QzF_7zAxU3KgYBixGkMyGYAxJ
        ngrok tcp 3389
